form {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
}

.bar {
    height: 10px;
    width: 100%;
    background-color: rgb(234, 234, 234);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.bar__progress-bar {
    height: 10px;
    background-color: #3e3e3e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header {
    position: relative;
    opacity: 0;
    animation: tipFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 300ms;
}

.form-display {
    height: 60vh;
}

.error-message {
    color: rgb(221, 33, 33);
    font-size: 14px;
}

.step-buttons > button {
    background-color: #3e3e3e;
    color: white;
    outline: none !important;
    box-shadow: rgba(0, 0, 0, 0.3) -3px 3px 1px;
    transition: 50ms linear;
    animation-direction: reverse;
}

.step-buttons > button:hover {
    background-color: #3e3e3e;
    color: white;
    outline: none !important;
    transform: translateX(-1px) translateY(1px);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 1px;
}

.age-output {
    border-bottom: 1px solid #3e3e3e;
}

.react-colorful {
    height: 140px !important;
}

@keyframes tipFade {
    from {
        opacity: 0%;
        top: 25px;
    }

    to {
        opacity: 100%;
        top: 65px;
    }
}

@media (min-width: 724px) {
    form {
        width: 500px;
    }
}
