@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;1000&display=swap");

h1 {
    font-weight: 1000 !important;
    font-size: 58px !important;
    color: #3e3e3e;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(
        to left bottom,
        #f6f6f6,
        #c2c2c2,
        #6b6b6b
    );
}
