@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;1000&display=swap");

h1 {
    font-weight: 1000;
    font-size: 58px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    text-align: center;
    background: rgb(204, 174, 238);
    background: radial-gradient(
        circle,
        rgb(174, 238, 214) 31%,
        rgba(66, 228, 173, 1) 100%
    );
}
